{% extends 'service/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="img">
    <a href="{% url 'works' %}"><img class="main" src="{% static 'service/main.jpg' %}" alt=""></a>
</div>

<h2>{{ title }}</h2>
<div class="block">
     {% for category in categories %}
    <div class="element">
        <div class="text">
            <h2><a href="{% url 'detail' category.id %}" target='_blank'>{{ category.name }}</a></h2>
            <p>{{ category.description|truncatechars:200 }}</p>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock content%}