<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="{% static 'service/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body bgcolor="" background="{% static 'service/12.jpeg' %}">
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}"><img class="logo1" src="{% static 'service/logo.png' %}"></a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'works' %}">Шиномонтаж</a></li>
            <li><a href="{% static 'service/price.pdf' %}" target="_blank">Прейскурант</a></li>
            <li><a href="{% url 'map' %}">Как к нам доехать</a></li>
        </ul>
        <div class="logo">
             {% if user.is_authenticated %}
        <ul>
            <li>Пользователь: {{ user.username }} </li>
            <li><a href="{% url 'worker' %}">Сотрудники</a></li>
            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                {% csrf_token %}
                <button class="top">Выйти</button>
            </form>
            </li>
        </ul>
            {% else %}

        <ul>
            <li><a href="{% url 'reguser' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'loginuser' %}" class="">Войти</a></li>
        </ul>
            {% endif %}
        </div>
    </div>
</div>

</body>
{% block content %}
{% endblock %}



