{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div>
    <a class="phone-number text-dark" href="tel:+79099999999">
                <h5>Вы можете записаться по т.+7(909)-999-99-99</h5>
    </a>
    <div class="contact-top">
                <a class="whatsapp-number" href="{% url 'telebot' %}"></a>
                <a class="telegram-number" href="{% url 'telebot' %}"></a>

    </div>
</div>
<h1>Шинный сервис</h1>
<div class="img">
    <a href="{% url 'works' %}"><img class="main" src="{% static 'service/main.jpg' %}" alt=""></a>
</div>

<h2>Категории работ</h2>
<div class="block">
    {% for project in projects %}
    <div class="element">
        <div ><img class="jpeg" src="{{ project.image.url }}" alt=""></div>
        <div class="text">
            <h2><a href="#" target='_blank'>{{ project.title }}</a></h2>
            <p>{{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content%}